<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/register" method="post">

        <input name="clientName" placeholder="clientName"><br>
        <input name="clientSecret" placeholder="clientSecret"><br>
        <input name="redirectUris" placeholder="redirectUris"><br>
        <input name="postLogoutRedirectUris" placeholder="postLogoutRedirectUris"><br>
        <input name="scopes" placeholder="scopes"><br>

        <input type="submit" value="Register"/>
    </form>

</body>
</html>